@model Domain.ViewModels.InvoiceCustomerViewModel


<table class="table table-bordered" id="pro">

    <thead class="thead-light">
        <tr>
            <th>
                <input id="PartCodeSearch" onkeyup="myFunction(0,'PartCodeSearch')"  placeholder="Part Code" type="text" />
            </th>
            <th>
                <input id="Name" onkeyup="myFunction(1,'Name')" placeholder="Part Name" type="text" />
            </th>
            @*<th>
                <input id="Balance" placeholder="Balance" type="text" />
            </th>
            <th>
                <input id="Cost" placeholder="Cost" type="text" />
            </th>
            <th>
                <input id="Price" placeholder="Price" type="text" />
            </th>
            <th>
                <input id="Model" placeholder="Model" type="text" />
            </th>*@

        </tr>
    </thead>
    <tbody id="TableProducts">
        @{
         }
        @foreach (var item in Model.Products.ToList())
        {

        <tr class="search">
            <td class="part_code">@item.Id</td>
            <td>@item.ArabicName</td>
            @*<td>@item.Balance</td>
            <td>@item.Cost</td>
            <td>@item.SalePrice</td>
            <td>@item.Model</td>*@
        </tr>
        }

    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function myFunction(cell, name) {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(name);
        filter = input.value.toUpperCase();
        table = document.getElementById("pro");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[cell];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
@*<script>
    $(function () {
        function contain(text1, text2) {
            if (text1.indexOf(text2) != -1) {
                return true;
            }
        }
        $('#PartCodeSearch').keyup(function () {
            var text = $('#PartCodeSearch').val().toLowerCase();
            $('.search').each(function () {
                if (!contain($('.part_code').val().toLowerCase(), text)) {
                    $(this).hide();
                }
                else {
                   $(this).show();
                }
            });
        });
        //$.ajax({
        //    type: "GET",
        //    url: '/Products/ProductsList',
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    success: function (Products) {

        //        $.each(Products, function (key, product) {

        //            productrow.append('<tr id="search">' + '<td id="partcod">' + product.id + '</td>' +
        //                '<td id="">' + product.arabicName + '</td>' +
        //                '<td>' + product.balance + '</td>' +
        //                '<td>' + product.cost + '</td>' +
        //                '<td>' + product.salePrice + '</td>' +
        //                '<td>' + product.model + '</td>' + '</tr>');
        //        });
        //    }

        //});

    });

</script>*@
<!--code


                            $('#PartCode').keyup(function () {
                                var text = $('#PartCode').val().toLowerCase();
                                $('#TableProducts').each(function () {
                                    if (!contain($(this).val().toLowerCase(), text)) {
                                        $(this).hide();
                                    }
                                    else {
                                        this.show();
                                    }
                                });
                            });
-->
