
@model Domain.ViewModels.InvoiceCustomerViewModel
<table class="table table-bordered">

    <thead class="thead-light">
        <tr>
            <th>
                <input id="PartCodeSearch" placeholder="Part Code" type="text" />
            </th>
            <th>
                <input id="Name" placeholder="Part Name" type="text" />
            </th>
            <th>
                <input id="Balance" placeholder="Balance" type="text" />
            </th>
            <th>
                <input id="Cost" placeholder="Cost" type="text" />
            </th>
            <th>
                <input id="Price" placeholder="Price" type="text" />
            </th>
            <th>
                <input id="Model" placeholder="Model" type="text" />
            </th>

        </tr>
    </thead>
    <tbody id="TableProducts">
        @{
         }
        @foreach (var item in Model.Products.ToList())
        {

        <tr id="search">
            <td id="searchpart">@item.Id</td>
            <td>@item.ArabicName</td>
            <td>@item.Balance</td>
            <td>@item.Cost</td>
            <td>@item.SalePrice</td>
            <td>@item.Model</td>
        </tr>
        }

    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        function contain(text1, text2) {
            if (text1.indexOf(text2) != -1) {
                return true;
            }
        }
        $('#PartCodeSearch').keyup(function () {
            var text = $('#PartCodeSearch').val().toLowerCase();
            $('#search').each(function () {
                if (!contain($(this).val().toLowerCase(), text)) {
                    $(this).hide();
                }
                else {
                   $(this).show();
                }
            });
        });
        //$.ajax({
        //    type: "GET",
        //    url: '/Products/ProductsList',
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    success: function (Products) {

        //        $.each(Products, function (key, product) {

        //            productrow.append('<tr id="search">' + '<td id="partcod">' + product.id + '</td>' +
        //                '<td id="">' + product.arabicName + '</td>' +
        //                '<td>' + product.balance + '</td>' +
        //                '<td>' + product.cost + '</td>' +
        //                '<td>' + product.salePrice + '</td>' +
        //                '<td>' + product.model + '</td>' + '</tr>');
        //        });
        //    }

        //});

    });

</script>
<!--code


                            $('#PartCode').keyup(function () {
                                var text = $('#PartCode').val().toLowerCase();
                                $('#TableProducts').each(function () {
                                    if (!contain($(this).val().toLowerCase(), text)) {
                                        $(this).hide();
                                    }
                                    else {
                                        this.show();
                                    }
                                });
                            });
-->
