@model Domain.ViewModels.InvoiceCustomerViewModel


<table class="table table-bordered" id="pro">
    <mini-profiler />
    <thead class="thead-light">
        <tr>
            <th>
                <input id="PartCodeSearch" class="form-control" onkeyup="myFunction(0,'PartCodeSearch')" placeholder="Part Code" type="text" />
            </th>
            <th>
                <input id="Name" class="form-control" onkeyup="myFunction(1,'Name')" placeholder="Part Name" type="text" />
            </th>
            <th>
                    <input id="Balance" class="form-control" placeholder="Balance" type="text" onkeyup="myFunction(2,'Balance')" />
                </th>
                <th>
                    <input id="Cost" class="form-control" placeholder="Cost" type="text" onkeyup="myFunction(2,'Cost')" />
                </th>
                <th>
                    <input id="Price" class="form-control" placeholder="Price" type="text" onkeyup="myFunction(3,'Price')" />
                </th>

        </tr>
    </thead>
    <tbody id="TableProducts">
        @{
        }
        
        @foreach (var item in Model.Products.ToList())
        {

        <tr class="search">
            <td class="part_code"><label class="productid form-check-label font-weight-bold" for="@item.ProductId">@item.ProductId</label></td>
            <td><label class="pertname">@item.ArabicName</label></td>
            <td><label class="balance">@item.Balance</label></td>
            <td><label calss="price">@item.SalePrice</label></td>
            <td><label calss="cost">@item.Cost</label></td>
        </tr>
        }

    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function myFunction(cell, name) {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(name);
        filter = input.value.toUpperCase();
        table = document.getElementById("pro");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[cell];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
