@model Domain.ViewModels.InvoiceCustomerViewModel
@{
    ViewData["Title"] = "Create";
}
@section styles{
    <link href="~/css/invoice.css" rel="stylesheet" />

}
<h1 class="text-primary text-center">Sales Invoice</h1>
<div class="row">
    <!-- Large modal -->


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <partial name="_product" model="Model" />
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="text-danger btn btn-outline-primary">Sales List</a>
    </div>
    <form class="col-md-12" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
        <div class="form-group topheader">
            <div class="d-md-inline-block border-danger col-md-3">
                <label class="control-label lblid lbl">Invoice No</label>
                <input asp-for="InvoiceId" type="text" value="@ViewBag.InvoiceId" class="form-control invoiceid" readonly />
                <span asp-validation-for="InvoiceId" class="text-danger "></span>
            </div>
            <div class="d-inline-block col-md-3">
                <label class="control-label lbldatepicker lbl">Invoice Date</label>
                <input asp-for="InvoiceDate" id="datepicker" type="text" class="form-control datepicker" value="@DateTime.Now.ToString("dd-MM-yyyy")" />
                <span asp-validation-for="InvoiceDate" class="text-danger "></span>
            </div>
            <div class="d-inline-block col-md-3">
                <label class="control-label lblinvoicetype lbl">Invoice Type</label>
                <!--<input asp-for="InvoiceType" class="form-control invoicetype select" />-->
                <select asp-for="InvoiceType" class="form-control invoicetype select">
                    <option value="0">Cash</option>
                    <option value="1">Credit</option>
                </select>
                <span asp-validation-for="InvoiceType" class="text-danger "></span>
            </div>
            <div class="searchable-dropdown js-searchable-dropdown">
                <input type="text" name="text"  class="js-searchable-dropdown-input text-center" value="" placeholder="Customer Name" autocomplete="off">
                <input type="hidden" asp-for="CustID" class="js-searchable-dropdown-input-id"/>
                <span class="caret"></span>
                <ul class="js-searchable-dropdown-list">
                    @foreach (var item in Model.Customers)
                    {
                        <li class="js-searchable-dropdown-list-item" data-id-value="@item.CustID" data-search-value="@item.CustID  @item.CustArName">
                    <span class="custid text-danger">@item.CustID</span> <span class="custname text-primary">@item.CustArName</span></li>
                        /*codepen.io/plestik/pen/EvRQdy */
                    }

                    <li class="js-list-empty">Nothing found..</li>
                </ul>
            </div>
        </div>

        <div class="form-group invoicebody">
            <table class="table table-fixed invoicetable" id="invoicetable">
                <thead>
                    <tr class="thead-light">
                        <th class="text-center">Part Code</th>
                        <th class="text-center">Part Name</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Sale Price</th>
                        <th class="text-center">Discount</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Vat</th>
                        <th class="text-center">Net Total</th>
                    </tr>
                </thead>
                <tr class="item">
                    <td class="partcode">
                        <input class="form-control text-center activeproduct" type="text" name="product" onclick="addRow(this.value,this.parent);" data-toggle="modal" data-target=".bd-example-modal-lg" required value=""/>
                        <span asp-validation-for="ProductID" class="text-danger "></span>
                    </td>
                    <td class="partName"><input class="form-control text-center" /> </td>
                    <td class="quantity inv"> <input value="" type="number" step="0.01" required id="Quantity" onfocus="" class="form-control text-center" autocomplete="off" placeholder="0.0" /> </td>
                    <td class="price inv"> <input    value="" type="number" step="0.01" required class="form-control text-center" autocomplete="off" placeholder="0.0" /></td>
                    <td class="discount inv"><input  value="" type="number" step="0.01" required class="form-control text-center" autocomplete="off" placeholder="0.0" /></td>
                    <td class="total inv"><input     value="" type="number" step="0.01" required class="form-control text-center" disabled autocomplete="off" placeholder="0.0" /></td>
                    <td class="vatamount inv"><input value="" type="number" required step="0.01" class="form-control text-center" autocomplete="off" placeholder="0.0" /></td>
                    <td class="totalvat inv"><input  value="" type="number" required step="0.01" class="form-control text-center" autocomplete="off" placeholder="0.0" /></td>
                </tr>
                <tr class="hide allitems">
                    <td>
                        <input type="hidden" asp-for="ProductID" />
                    </td>
                </tr>
            </table>

            </div>


        <div class="form-group downtotals">
            <div class="d-md-inline-block border-danger col-md-2">
                <label class="control-label lbl" style="left: 83px;">Total</label>
                <input  type="number" step="0.01" class="form-control txtsums disabled" disabled autocomplete="off" placeholder="0.0" value="0" />
                <span asp-validation-for="InvoiceTotal " class="text-danger "></span>
            </div>
            <div class="d-md-inline-block border-danger col-md-2">
                <label class="control-label lbl">Discount</label>
                <input asp-for="InvoiceDiscount" type="number" step="0.01" class="form-control txtsums" autocomplete="off" placeholder="0.0" value="0" />

            </div>
            <div class="d-md-inline-block border-danger col-md-2">
                <label class="control-label lbl">Net Total</label>
                <input asp-for="InvoiceNetTotal"   type="number" step="0.01" class="form-control txtsums disabled" disabled autocomplete="off" placeholder="0.0" value="0" />
                <span asp-validation-for="InvoiceNetTotal" class="text-danger "></span>
            </div>
            <div class="d-md-inline-block border-danger col-md-2">
                <label class="control-label lbl">Paid</label>
                <input asp-for="InvoicePaid"  type="number" step="0.01" class="form-control txtsums" autocomplete="off" placeholder="0.0" value="0" />

            </div>
            <div class="d-md-inline-block border-danger col-md-2">
                <label class="control-label lbl">Remain</label>
                <input asp-for="InvoiceChange"  type="number" step="0.01" class="form-control txtsums disabled" disabled autocomplete="off" placeholder="0.0" value="0" />
                <span asp-validation-for="InvoiceChange" class="text-danger "></span>
            </div>
                <input asp-for="downdetails" type="hidden"  />
        </div>

        <div class="form-group ">
            <input type="submit" value="Create" class="btn btn-primary " onclick="getInvoiceProduct();"/>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
}
