@model Domain.ViewModels.InvoiceCustomerViewModel

@{
    ViewData["Title"] = "Edit";
}
@section styles{
    <link href="~/css/invoice.css" rel="stylesheet" />
 }
<h1 class="text-center text-primary">Edit Invoice </h1>
<div>
    <a asp-action="Index" class="text-danger btn btn-outline-primary">Sales List</a>

    <a asp-action="Create" class="text-danger btn btn-outline-primary">Create New</a>
</div>
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <partial name="_invoicesTable" model="Model" />
        </div>
    </div>
</div>
<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group topheader">
            <div class="d-md-inline-block border-danger col-md-3">
                <label class="control-label lblid lbl">Invoice No</label>
                <input asp-for="invoice.InvoiceNo" class="form-control invoiceid" data-toggle="modal" data-target=".bd-example-modal-xl" />
                <span asp-validation-for="invoice.InvoiceNo" class="text-danger "></span>
            </div>
            <div class="d-inline-block col-md-3">
                <label class="control-label lbldatepicker lbl">Invoice Date</label>
                <input asp-for="invoice.InvoiceDate" id="datepicker" style="font-size:15px !important;" class="form-control datepicker" />
                <span asp-validation-for="invoice.InvoiceDate" class="text-danger "></span>
            </div>
            <div class="d-inline-block col-md-3">
                <label class="control-label lblinvoicetype lbl">Invoice Type</label>
                <!--<input asp-for="InvoiceType" class="form-control invoicetype select" />-->
                <select asp-for="invoice.InvoiceType" class="form-control invoicetype select">
                    <option value="0">Cash</option>
                    <option value="1">Credit</option>
                </select>
                <span asp-validation-for="invoice.InvoiceType" class="text-danger "></span>
            </div>
            <div class="searchable-dropdown js-searchable-dropdown">
                <input type="text" name="text" asp-for="invoice.CustID" class="js-searchable-dropdown-input text-center"  autocomplete="off">
                <input asp-for="invoice.CustID" class="js-searchable-dropdown-input-id" />
            </div>
        </div>

        <div class="form-group invoicebody">
            <table class="table table-fixed invoicetable" id="invoicetable">
                <thead>
                    <tr class="thead-light">
                        <th class="text-center">Part Code</th>
                        <th class="text-center">Part Name</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Sale Price</th>
                        <th class="text-center">Discount</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Vat</th>
                        <th class="text-center">Net Total</th>
                    </tr>
                </thead>
                @foreach (var item in Model.Details)
                {
                    <tr class="item">
                        <td class="partcode">
                            <input asp-for="@item.ProductID" class="form-control text-center activeproduct" required />
                            <span asp-validation-for="ProductID" class="text-danger "></span>
                        </td>
                        <td class="partName"><input asp-for="@item.Product.ArabicName" class="form-control text-center" /> </td>
                        <td class="quantity inv"> <input asp-for="@item.Quantity" type="number" step="0.01" required id="Quantity" onfocus="" class="form-control text-center" autocomplete="off" placeholder="0.0" /> </td>
                        <td class="price inv"> <input asp-for="@item.SalesPrice" type="number" step="0.01" required class="form-control text-center" autocomplete="off" placeholder="0.0" /></td>
                        <td class="discount inv"><input asp-for="@item.discount" type="number" step="0.01" required class="form-control text-center" autocomplete="off" placeholder="0.0" /></td>
                        <td class="total inv"><input asp-for="@item.Total" type="number" step="0.01" required class="form-control text-center" disabled autocomplete="off" placeholder="0.0" /></td>
                        <td class="vatamount inv"><input asp-for="@item.VatAmount" type="number" required step="0.01" class="form-control text-center" autocomplete="off" placeholder="0.0" /></td>
                        <td class="totalvat inv"><input asp-for="@item.TotalWithVat" type="number" required step="0.01" class="form-control text-center" autocomplete="off" placeholder="0.0" /></td>
                    </tr>
                }
                <tr class="hide allitems"><td><input type="hidden" asp-for="ProductID" /></td></tr>
            </table>

        </div>


        <div class="form-group downtotals">
            <div class="d-md-inline-block border-danger col-md-2">
                <label class="control-label lbl" style="left: 83px;">Total</label>
                <input asp-for="invoice.InvoiceTotal" type="number" step="0.01" class="form-control txtsums disabled" disabled autocomplete="off" placeholder="0.0" />
                <span asp-validation-for="invoice.InvoiceTotal " class="text-danger "></span>
            </div>
            <div class="d-md-inline-block border-danger col-md-2">
                <label class="control-label lbl">Discount</label>
                <input asp-for="invoice.InvoiceDiscount" type="number" step="0.01" class="form-control txtsums" autocomplete="off" placeholder="0.0" />
                <span asp-validation-for="invoice.InvoiceDiscount" class="text-danger "></span>
            </div>
            <div class="d-md-inline-block border-danger col-md-2">
                <label class="control-label lbl">Net Total</label>
                <input asp-for="invoice.InvoiceNetTotal" type="number" step="0.01" class="form-control txtsums disabled" disabled autocomplete="off" placeholder="0.0" />
                <span asp-validation-for="invoice.InvoiceNetTotal" class="text-danger "></span>
            </div>
            <div class="d-md-inline-block border-danger col-md-2">
                <label class="control-label lbl">Paid</label>
                <input asp-for="invoice.InvoicePaid" type="number" step="0.01" class="form-control txtsums" autocomplete="off" placeholder="0.0" />
                <span asp-validation-for="invoice.InvoicePaid" class="text-danger "></span>
            </div>
            <div class="d-md-inline-block border-danger col-md-2">
                <label class="control-label lbl">Remain</label>
                <input asp-for="invoice.InvoiceChange" type="number" step="0.01" class="form-control txtsums disabled" disabled autocomplete="off" placeholder="0.0" />
                <span asp-validation-for="invoice.InvoiceChange" class="text-danger "></span>
            </div>
            <input type="hidden" asp-for="downdetails" />
        </div>
        <div class="editinvoice">
            <div class="form-group col-md-6 save">
                <input type="submit" value="Update" onclick="getInvoiceProduct();" class="btn btn-primary" />
            </div>

        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/editInvoice.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
