@model IEnumerable<Domain.Models.SalesInvoice>

@{
    ViewData["Title"] = "Index";
}
@section styles{
    <link href="~/css/invoice.css" rel="stylesheet" />

}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table table table-striped">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th >
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNetTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoicePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceChange)
            </th>
            <th></th>
        </tr>
        <tr></tr>
    </thead>
    <tbody id="accordion">
        @foreach (var item in Model)
        {
        <tr class="border-bottom">
            <td id="headingOne " class="listtablecell">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#@item.Id" aria-expanded="true" aria-controls="@item.Id">
                            <i class="icon-expand-alt icon-large"></i>
                        </button>
                    </h5>
                </div>
            </td>
            <td class="listtablecell">
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td class="listtablecell">
                @Html.DisplayFor(modelItem => item.InvoiceTotal)
            </td>
            <td class="listtablecell">
                @Html.DisplayFor(modelItem => item.InvoiceDiscount)
            </td>
            <td class="listtablecell">
                @Html.DisplayFor(modelItem => item.InvoiceNetTotal)
            </td>
            <td class="listtablecell">
                @Html.DisplayFor(modelItem => item.InvoiceType)
            </td>
            <td class="listtablecell">
                @Html.DisplayFor(modelItem => item.InvoicePaid)
            </td>
            <td class="listtablecell">
                @Html.DisplayFor(modelItem => item.InvoiceChange)
            </td>
            <td class="listtablecell">
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="icon-edit icon-large text-primary"></i> |</a>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="icon-info-sign icon-large"></i> |</a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="icon-trash icon-large text-danger"></i></a>
            </td>
        </tr>
        <tr style="height:0px;">
            <td class="listtablecell" colspan=9>
                <div id="@item.Id" class="collapse collapsed col-md-2 invoicedetails" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        dhfdhfdh
                    </div>
                </div>
            </td>
        </tr>


        }
    </tbody>
</table>
