@model IEnumerable<Domain.Models.Customer>

@{
    ViewData["Title"] = "Index";
}
@section styles{ }
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustArName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustEnName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustMobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustOpenBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustArName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustEnName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustMobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustOpenBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
